@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
}

header {
  background-image: url(./assets/motion.jpg);
  background-size: cover;
}

#nav-bar {
  padding-top: 15px;
  margin: 0 20px;
  height: 80px;
}

.fa-bars {
  font-size: 50px;
  color: #272a31;
}
.fa-bars:hover {
  color: #ec5242;
}

.desk-nav-list {
  background-color: red;
  list-style: none;
  display: none;
}

.desk-nav-list li {
  float: left;
  margin-left: 20px;
}

.catch-text-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
  background-image: url(./assets/motion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#catch-text {
  color: #ec5242;
  width: 90%px;
  text-align: center;
}

#catch-text p {
  font-size: 30px;
  margin: 10px 0;
}

#catch-text H4 {
  font-size: 50px;
  margin: 10px 0;
  font-weight: bold;
}

.intro-text {
  background-color: #d3d3d3;
  text-align: center;
  width: 80%;
  font-size: 15px;
  line-height: 26px;
  padding-left: 18px;
  padding-right: 18px;
  border: 2px solid #272a31;
}

#event-time {
  color: #272a31;
  width: 83%;
  margin-top: 10px;
  font-size: 1.125rem;
  text-align: center;
}

.email {
  font-weight: bold;
}

.desc-sec {
  align-items: center;
  display: flex;
  justify-content: center;
}

.desc-cont {
  width: 80%;
  text-align: center;
}

.desc-cont h5 {
  font-weight: bold;
  font-size: 1.5rem;
}

.desc {
  line-height: 26px;
  padding: 0 15px;
  font-size: 1.125rem;
}

.logo-sec {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.logo-cont {
  width: 80%;
  height: 180px;
  border: 2px solid #8a8888;
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.logo-cont h3 {
  font-size: 2rem;
  font-weight: bold;
}

.past-events-sec {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.past-event {
  width: 70%;
  background-color: pink;
  
}

.past-event {
  width: 70%;
  height: 180px;
  position: relative;
  margin-bottom: 40px;
}

.past-event  img {
  width: 100%;
  height: 200px;
}

.past-event-desc {
  background-color: rgba(236, 82, 66, 0.5);
  position: absolute;
  width: 100%;
  height: 111%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.event-year {
  font-size: 2rem;
  font-weight: bold;
  display: block;
  margin: 10px 0;
}

.event-desc {
  margin: 0;
  font-size: 1.125rem;
}

.partners {
  display: flex;
  background-color: #272a31;
  flex-direction: column;
  align-items: center;
}

.partners ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  width: 90%;
}

.partner-logo ul li {
  width: 30%;
}

.partner-logo ul li img {
  fill: red;
  margin: 10px;
  height: 50px;
}

.sec-heading {
  margin-bottom: 15px;
  font-size: 30px;
}

.bottom-line {
  width: 60px;
  margin-bottom: 60px;
  border-top: 1px solid red;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
