@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(./assets/motion.jpg);
  background-size: cover;
}

#nav-bar {
  padding-top: 15px;
  margin: 0 20px;
  height: 80px;
}

.nav-logo {
  display: none;
}

.fa-bars {
  font-size: 50px;
  color: #272a31;
}

.fa-bars:hover {
  color: #ec5242;
}

.desk-nav-list {
  list-style: none;
  display: none;
}

.desk-nav-list li {
  float: left;
  margin-left: 20px;
}

.catch-text-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65vh;
  background-image: url(./assets/motion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


#catch-text {
  color: #ec5242;
  width: 90%;
  text-align: center;
}

#catch-text p {
  font-size: 30px;
  margin: 10px 0;
}

#catch-text h4 {
  font-size: 50px;
  margin: 10px 0;
  font-weight: bold;
}

.intro-text {
  background-color: #d3d3d3;
  text-align: center;
  width: 80%;
  font-size: 15px;
  line-height: 26px;
  padding-left: 18px;
  padding-right: 18px;
  border: 2px solid #272a31;
}

#event-time {
  color: #272a31;
  width: 83%;
  margin-top: 10px;
  font-size: 1.125rem;
  text-align: center;
}

.email {
  font-weight: bold;
}

.desc-sec {
  align-items: center;
  display: flex;
  justify-content: center;
}

.desc-cont {
  width: 80%;
  text-align: center;
}

.desc-cont h5 {
  font-weight: bold;
  font-size: 1.5rem;
}

.desc {
  line-height: 26px;
  padding: 0 15px;
  font-size: 1.125rem;
}

.logo-sec {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.logo-cont {
  width: 80%;
  height: 180px;
  border: 2px solid #8a8888;
  align-items: center;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.logo-cont h3 {
  font-size: 2rem;
  font-weight: bold;
}

.past-events-sec-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.past-events-sec {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.past-event {
  width: 70%;
  height: 180px;
  position: relative;
  margin-bottom: 40px;
}

.past-event img {
  width: 100%;
  height: 200px;
}

.past-event-desc {
  background-color: rgba(236, 82, 66, 0.5);
  position: absolute;
  width: 100%;
  height: 111%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.event-year {
  font-size: 2rem;
  font-weight: bold;
  display: block;
  margin: 10px 0;
}

.event-desc {
  margin: 0;
  font-size: 1.125rem;
}

.partners {
  display: flex;
  background-color: #272a31;
  flex-direction: column;
  align-items: center;
}

.partners ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  width: 90%;
}

.partner-logo ul li {
  width: 30%;
}

.partner-logo ul li img {
  margin: 10px;
  height: 50px;
}

.sec-heading {
  margin-bottom: 15px;
  font-size: 30px;
}

.bottom-line {
  width: 60px;
  margin-bottom: 60px;
  border-top: 1px solid red;
  display: none;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #272a31;
  background-color: white;
  bottom: 0;
}


@media (min-width: 768px) {
  #nav-bar {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0;
  }

  .fa-bars {
    display: none;
  }

  .nav-logo {
    display: block;
    font-size: 30px;
  }

  .nav-logo a {
    color: #272a31;
    text-decoration: none;
  }

  .desk-nav-list {
    display: flex;
    width: 50%;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }

  .desk-nav-list li {
    float: left;
    font-size: 1.125rem;
    font-weight: bold;
    height: 25px;
    cursor: pointer;
  }

  .desk-nav-list li a {
    color: #d3d3d3;
    text-decoration: none;
  }

  .desk-nav-list li button {
    border: 5px solid #ec5242;
    width: fit-content;
    background-color: white;
    color: #ec5242;
    font-size: 1rem;
    height: 40px;
  }

  #top-header {
    display: flex;
    justify-content: flex-end;
    padding: 0 10%;
    align-items: center;
    height: 36px;
    background-color: #272a31;
  }

  .header-ul {
    width: 30%;
  }

  .header-ul li {
    font-weight: normal;
  }

  .header-ul li a {
    color: #d3d3d3;
  }

  .catch-text-sec {
    padding-top: 5%;
    align-items: center;
    height: auto;
    background-color: blue;
  }

  #catch-text {
    color: #ec5242;
    width: 60%;
    margin-bottom: 30px;
  }

  #catch-text p {
    display: none;
  }

  #catch-text h4 {
    font-size: 70px;
  }

  .intro-text {
    background-color: #d3d3d3;
    width: 53%;
    font-size: 18px;
    line-height: 150%;
    padding-left: 18px;
    border: 5px solid white;
  }

  #event-time {
    width: 45%;
    margin-bottom: 10%;
  }

  #event-time h4 {
    font-size: 50px;
  }

  #event-time p {
    font-size: 24px;
  }


.desc-sec {
  align-items: center;
  display: flex;
  justify-content: center;
}

.desc-cont {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.desc-cont h5 {
  font-weight: bold;
  font-size: 1.5rem;
}

.desc {
  line-height: 26px;
  padding: 0 15px;
  font-size: 1.125rem;
}


.bottom-line {
  display: block;
  margin-bottom: 10px;
}


.logo-sec {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.logo-cont {
  width: 40%;
  height: 180px;
  border: 2px solid #8a8888;
  display: flex;
  justify-content: center;
}

.logo-cont h3 {
  font-size: 2rem;
  font-weight: bold;
}

.past-events-sec-cont {
  flex-direction: row;
  height: 300px;
}

.past-events-sec {
  flex-direction: row;
  width: 70%;
}

.past-event {
  width: 50%;
  margin-bottom: 60px;
  height: 250px;
  margin-left: 20px;
}

.past-event img {
  height: 250px;
}

.partners {
  display: none;
}

.partner-logo {
  grid-template-columns: auto auto auto auto auto;
}

footer {
  background-color: #272a31;
  color: white;
}

}