@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(./assets/motion.jpg);
  background-size: cover;
}

#nav-bar {
  padding-top: 15px;
  margin: 0 20px;
  height: 80px;
}

.fa-bars {
  font-size: 50px;
  color: #272a31;
}

.nav-logo {
  display: none;
}

.mobile-menu {
  background-color: rgba(236, 82, 66, 0.7);
  height: 100vh;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(4px);
  top: 0;
  display: none;
}

.mobile-nav {
  list-style: none;
  font-size: 2rem;
}

.close-icon {
  font-size: 60px;
  margin-left: 8px;
  color: #d3d3d3;
}

.close-icon:hover {
  color: #ec5242;
}

.mobile-nav li {
  height: 60px;
  display: block;
  width: 60%;
  margin-bottom: 10px;
}

.mobile-nav a {
  text-decoration: none;
  color: #d3d3d3;
}

.mobile-nav a:hover {
  color: #ec5242;
  background-color: white;
}

.fa-bars:hover {
  color: #ec5242;
}

.desk-nav-list {
  display: none;
}

.catch-text-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/motion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.activity-desc p {
  word-wrap: break-word;
  width: 100%;
  font-size: 15px;
}

#catch-text {
  color: #ec5242;
  width: 84%;
}

#catch-text p {
  font-size: 30px;
  margin: 10px 0;
}

#catch-text h4 {
  font-size: 40px;
  margin: 10px 0;
  font-weight: bold;
}

.intro-text {
  background-color: #d3d3d3;
  width: 80%;
  font-size: 13px;
  line-height: 26px;
  padding-left: 18px;
  border: 5px solid white;
}

#event-time {
  color: #272a31;
  width: 83%;
  margin-top: 10px;
}

#event-time h4 {
  font-size: 18px;
  margin: 10px 0;
}

#event-time p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 15px;
}

.main-sec-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
  color: white;
}

#main-sec {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #d3d3d3;
}

.sec-heading {
  margin-bottom: 15px;
  font-size: 24px;
}

.bottom-line {
  width: 60px;
  margin-bottom: 60px;
  border-top: 1px solid red;
}

.prog-list {
  width: 95%;
  display: flex;
  margin-bottom: 20px;
  height: auto;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.prog-icon {
  width: 10%;
  color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.prog-activity {
  width: 25%;
  color: #ec5242;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.activity-desc {
  width: 65%;
  margin-right: 8px;
  align-items: center;
}

.activity-desc-p {
  word-wrap: break-word;
  width: 100%;
  font-size: 0.75em;
}

.fa-keynote {
  font-size: 30px;
}

.join-btn {
  background-color: #ec5242;
  color: #d3d3d3;
  width: 70%;
  font-size: 20px;
  border: none;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.see-whole {
  display: none;
}

.speakers-sec-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speakers-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speaker {
  display: flex;
  width: 95%;
  height: 180px;
  color: #272a31;
  margin-bottom: 20px;
  cursor: pointer;
}

.title {
  color: #ec5242;
  font-size: 13px;
  margin: 0;
}

.brief {
  font-size: 13px;
  line-height: 20px;
}

.speaker-details h5 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.speaker-img-cont {
  background-image: url(./assets//squares.jpg);
  background-size: 60px;
  background-repeat: no-repeat;
  width: 300px;
  height: 88%;
  margin-right: 20px;
}

.speaker-img-cont img {
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
}

.seperator {
  width: 20px;
  margin-top: 10px;
  border-top: 2px solid red;
}

.more-btn {
  width: 90%;
  height: 60px;
  font-size: 20px;
  border-radius: 5px;
  margin: 30px 0;
}

.partners {
  display: flex;
  background-color: #272a31;
  flex-direction: column;
  align-items: center;
  color: #d3d3d3;
}

.partner-logo {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 60%;
  padding-bottom: 5%;
}

.partner-logo img {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  #nav-bar {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0;
  }

  .fa-bars {
    display: none;
  }

  .nav-logo {
    display: block;
    font-size: 30px;
  }

  .nav-logo a {
    color: #272a31;
    text-decoration: none;
  }

  .desk-nav-list {
    display: flex;
    width: 50%;
    justify-content: space-between;
    list-style: none;
    align-items: center;
  }

  .desk-nav-list li {
    float: left;
    font-size: 1.125rem;
    font-weight: bold;
    height: 25px;
    cursor: pointer;
  }

  .header-ul li a {
    color: #d3d3d3;
  }

  .desk-nav-list li a {
    color: #d3d3d3;
    text-decoration: none;
  }

  .desk-nav-list a:hover {
    color: #ec5242;
  }

  .desk-nav-list li button {
    border: 5px solid #ec5242;
    width: fit-content;
    background-color: white;
    color: #ec5242;
    font-size: 1rem;
    height: 40px;
  }

  #top-header {
    display: flex;
    justify-content: flex-end;
    padding: 0 10%;
    align-items: center;
    height: 36px;
    background-color: #272a31;
  }

  .header-ul {
    width: 30%;
  }

  .header-ul li {
    font-weight: normal;
  }

  .prog-activity p {
    margin-bottom: 10px;
  }

  .catch-text-sec {
    align-items: flex-start;
    padding: 150px 0 120px 10%;
    height: auto;
  }

  #catch-text {
    color: #ec5242;
    width: 70%;
  }

  #catch-text p {
    font-size: 60px;
    margin: 10px 0;
  }

  #catch-text h4 {
    font-size: 110px;
  }

  .intro-text {
    background-color: #d3d3d3;
    width: 53%;
    font-size: 1.125rem;
    line-height: 150%;
    padding-left: 18px;
    border: 5px solid white;
  }

  #event-time {
    width: 45%;
  }

  #event-time h4 {
    font-size: 30px;
    font-weight: bold;
  }

  #event-time p {
    font-size: 15px;
  }

  #main-sec {
    flex-direction: row;
    width: 80%;
    height: 300px;
    justify-content: space-between;
  }

  .prog-list {
    width: 19%;
    display: flex;
    margin: 20px;
    height: 100%;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .prog-activity {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .prog-icon {
    margin-top: 20px;
  }

  .activity-desc {
    width: 65%;
    margin-right: 8px;
    align-items: center;
    text-align: center;
  }

  .see-whole {
    display: block;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #d3d3d3;
    font-size: 20px;
    font-weight: bold;
  }

  .join-btn {
    display: none;
  }

  .speakers-sec {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    gap: 20px;
    padding-bottom: 5%;
  }

  .speaker {
    display: flex;
    width: 95%;
    height: 180px;
    color: #272a31;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .more-btn {
    display: none;
  }

  .partner-logo {
    grid-template-columns: auto auto auto auto auto;
  }
}
